/*
 * Tab WISDOM Battery parameters device tree file
 *
 * Copyright (C) 2018 Samsung Electronics, Inc.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */

/ {
	fragment@battery {
		target-path = "/";
		__overlay__ {
			battery_params {
					battery,battery_data =
						<
						/***** battery data for 4.22 *****/
						/* battery,battery_table3 */
						129 11 251 10 117 10 248 9 126 9
						16 9 172 8 69 8 213 7 142 7
						43 7 213 6 161 6 120 6 87 6
						60 6 34 6 254 5 194 5 141 5
						114 5 176 2 160 10 28 10 153 9
						22 9 146 8 15 8 140 7 8 7
						133 6 2 6 126 5 251 4 120 4
						244 3 113 3 238 2 106 2 231 1
						100 1 224 0 93 0 218 15

						/* battery,battery_table4 */
						10 10 10 10 36 36 35 34 35 35
						36 36 36 36 36 37 39 40 43 51
						75 96

						/* battery,batcap */
						0xA4 0x38 0x29 0x0E /* [0x0E] [0x0F] [0x10] [0x11] */
						/* battery,accum */
						0x8 0x00 /* [0x45] [0x44] */

						/* battery,soc_arr_val */
						13279 12638 11997 11356 10713 10073 9432 8790 8149 7508
						6867 6226 5584 4943 4302 3660 3019 2378 1737 1096
						454 (-187)

						/* battery,ocv_arr_val */
						44382 43727 43072 42463 41867 41326 40839 40338 39789 39443
						38958 38541 38285 38085 37924 37794 37667 37492 37196 36938
						36805 33361

						/* battery,tunning */
						0x00

						/***** battery data for 4.19 *****/
						/* battery,battery_table3 */
                                           	69 11 251 10 177 10 81 10 207 9
                                           	85 9 228 8 136 8 254 7 182 7
	                                        91 7 237 6 177 6 132 6 95 6
                                           	66 6 39 6 4 6 201 5 145 5
                                           	115 5 176 2 255 10 119 10 239 9
                                           	102 9 222 8 86 8 206 7 69 7
                                           	189 6 53 6 173 5 36 5 156 4
                                           	20 4 140 3 3 3 123 2 243 1
                                           	107 1 226 0 90 0 210 15

						/* battery,battery_table4 */
                                           	40 35 36 36 36 36 35 34 35 35
                                           	36 36 36 36 36 37 39 40 43 51
                                           	75 66

						/* battery,batcap */
						0x40 0x38 0x10 0x0E/* [0x0E] [0x0F] [0x10] [0x11] */
						/* batteryaccum */
						0x8 0x00 /* [0x45] [0x44] */

						/* batterysoc_arr_val */
                                           	13745 13080 12415 11750 11084 10419 9754 9089 8424 7758
                                           	7093 6428 5763 5098 4432 3767 3101 2437 1772 1106
                                           	441 (-224)

						/* batteryocv_arr_val */
                                           	44089 43727 43365 42896 42263 41666 41112 40664 39991 39641
                                           	39194 38659 38364 38143 37965 37823 37692 37522 37234 36958
                                           	36810 33361

						/* battery,tunning */
						0x00

						/***** battery data for 4.16 *****/
						/* battery,battery_table3 */
                                           	120 11 251 10 126 10 1 10 134 9
                                           	22 9 176 8 77 8 216 7 146 7
                                           	47 7 215 6 162 6 121 6 88 6
                                           	61 6 35 6 255 5 195 5 141 5
                                           	114 5 176 2 255 10 119 10 238 9
                                           	102 9 222 8 86 8 205 7 69 7
                                           	189 6 52 6 172 5 36 5 155 4
                                           	19 4 139 3 2 3 122 2 242 1
                                           	105 1 225 0 89 0 209 15

						/* battery,battery_table4 */
                                           	40 35 36 36 36 36 35 34 35 35
                                           	36 36 36 36 36 37 39 40 43 51
                                           	75 66

						/* battery,batcap */
						0xB0 0x36 0xAC 0x0D/* [0x0E] [0x0F] [0x10] [0x11] */
						/* batteryaccum */
						0x8 0x00 /* [0x45] [0x44] */

						/* batterysoc_arr_val */
                                           	13746 13080 12414 11749 11083 10418 9752 9086 8421 7755
                                           	7090 6424 5758 5093 4427 3762 3096 2430 1765 1099
                                           	434 (-231)

						/* batteryocv_arr_val */
                                           	44337 43727 43117 42505 41903 41358 40861 40377 39803 39463
                                           	38981 38552 38292 38091 37928 37796 37670 37495 37200 36940
                                           	36806 33361

						/* battery,tunning */
						0x00
						>;

					battery,battery_table3 = <
				                           	129 11 251 10 117 10 248 9 126 9
								16 9 172 8 69 8 213 7 142 7
								43 7 213 6 161 6 120 6 87 6
								60 6 34 6 254 5 194 5 141 5
								114 5 176 2 160 10 28 10 153 9
								22 9 146 8 15 8 140 7 8 7
								133 6 2 6 126 5 251 4 120 4
								244 3 113 3 238 2 106 2 231 1
								100 1 224 0 93 0 218 15
								>;

					battery,battery_table4 = <
								10 10 10 10 36 36 35 34 35 35
								36 36 36 36 36 37 39 40 43 51
								75 96
								>;

					battery,batcap = <0xA4 0x38 0x29 0x0E>; /* [0x0E] [0x0F] [0x10] [0x11] */
					battery,accum = <0x8 0x00>; /* [0x45] [0x44] */

					battery,soc_arr_val = <
								13279 12638 11997 11356 10713 10073 9432 8790 8149 7508
								6867 6226 5584 4943 4302 3660 3019 2378 1737 1096
								454 (-187)
								>;
					battery,ocv_arr_val = <
								44382 43727 43072 42463 41867 41326 40839 40338 39789 39443
								38958 38541 38285 38085 37924 37794 37667 37492 37196 36938
								36805 33361
								>;
					battery,data_ver = <0x03>;
			};

			pdic-manager {
				/* sink */
				pdic,max_power = <5000>;
				pdic,op_power = <2500>;
				pdic,max_voltage = <6000>;
				pdic,max_current = <2000>;
				pdic,min_current = <500>;

				pdic,giveback = <0>;
				pdic,usb_com_capable = <1>;
				pdic,no_usb_suspend = <1>;

				/* source */
				source,max_voltage = <5000>;
				source,min_voltage = <4000>;
				source,max_power = <2500>;

				/* sink cap */
				sink,capable_max_voltage = <9000>;
			};

			battery {
				status = "okay";
				compatible = "samsung,sec-battery";

				pinctrl-names = "default";

				battery,vendor = "Battery";
				battery,charger_name = "s2mu004-charger";
				battery,fuelgauge_name = "s2mu004-fuelgauge";
				battery,technology = <2>; /* POWER_SUPPLY_TECHNOLOGY_LION */
				battery,fgsrc_switch_name = "s2mu004-fuelgauge"; /* Fuelgauge voltage source */

				battery,batt_data_version = <2>;

				battery,chip_vendor = "LSI";
				battery,temp_adc_type = <1>; /* SEC_BATTERY_ADC_TYPE_AP */

				battery,temp_check_type = <2>; /* SEC_BATTERY_TEMP_CHECK_TEMP */

				battery,thermal_source = <2>; /* SEC_BATTERY_THERMAL_SOURCE_ADC */

				battery,polling_time = <10 30 30 30 3600>;

				battery,temp_table_adc = <
							467 525 590 665 750 846 952 1017 1200 1345
							1470 1615 1715 1990 2250 2405 2596 2782 2953 3127
							3270 3412 3543
							>;
				battery,temp_table_data = <
							900 850 800 750 700 650 600 550 500 450 
							400 350 300 250 200 150 100 50 0 (-50)
							(-100) (-150) (-200)
							>;

				battery,inbat_voltage = <1>;

				battery,inbat_voltage_table_adc = <2823 2803 2775 2748 2719 2695 2668 2638 2609 2582
								2551 2524 2496 2469 2442 2416 2390 2362 2333 2303 2275>;
				battery,inbat_voltage_table_data = <4385 4355 4305 4255 4205 4155 4105 4055 4005 3955
								3905 3855 3805 3755 3705 3655 3605 3555 3505 3455 3405>;

				battery,adc_check_count = <5>;

				battery,cable_check_type = <4>; /* SEC_BATTERY_CABLE_CHECK_PSY */
				battery,cable_source_type = <1>; /* SEC_BATTERY_CABLE_SOURCE_EXTERNAL */
				battery,polling_type = <1>; /* SEC_BATTERY_MONITOR_ALARM */
				battery,monitor_initial_count = <0>;

				battery,pre_afc_input_current = <500>;

				battery,battery_check_type = <0>; /* SEC_BATTERY_CHECK_NONE */
				battery,check_count = <0>;

				battery,ovp_uvlo_check_type = <3>; /* SEC_BATTERY_OVP_UVLO_CHGPOLLING */

				battery,temp_check_count = <1>;
				battery,temp_highlimit_threshold_event = <800>;
				battery,temp_highlimit_recovery_event = <750>;
				battery,temp_high_threshold_event = <500>;
				battery,temp_high_recovery_event = <450>;
				battery,temp_low_threshold_event = <0>;
				battery,temp_low_recovery_event = <50>;
				battery,temp_highlimit_threshold_normal = <800>;
				battery,temp_highlimit_recovery_normal = <750>;
				battery,temp_high_threshold_normal = <500>;
				battery,temp_high_recovery_normal = <480>;
				battery,temp_low_threshold_normal = <0>;
				battery,temp_low_recovery_normal = <20>;
				battery,temp_highlimit_threshold_lpm = <800>;
				battery,temp_highlimit_recovery_lpm = <750>;
				battery,temp_high_threshold_lpm = <500>;
				battery,temp_high_recovery_lpm = <480>;
				battery,temp_low_threshold_lpm = <0>;
				battery,temp_low_recovery_lpm = <20>;
				battery,wpc_high_threshold_normal = <480>;
				battery,wpc_high_recovery_normal = <400>;
				battery,wpc_low_threshold_normal = <0>;
				battery,wpc_low_recovery_normal = <20>;

				battery,full_check_type = <2>; /* SEC_BATTERY_FULLCHARGED_FG_CURRENT */
				battery,full_check_type_2nd = <2>; /* SEC_BATTERY_FULLCHARGED_FG_CURRENT */
				battery,full_check_count = <1>;
				battery,chg_gpio_full_check = <0>;
				battery,chg_polarity_full_check = <1>;

				/* SEC_BATTERY_FULL_CONDITION_SOC |
				 * SEC_BATTERY_FULL_CONDITION_NOTIMEFULL |
				 * SEC_BATTERY_FULL_CONDITION_VCELL
				 */
				battery,full_condition_type = <13>;
				battery,full_condition_soc = <93>;
				battery,full_condition_vcell = <4090>;

				battery,recharge_check_count = <1>;
				battery,recharge_condition_type = <4>; /* SEC_BATTERY_RECHARGE_CONDITION_VCELL */
				battery,recharge_condition_soc = <98>;
				battery,recharge_condition_vcell = <4120>;

				battery,charging_total_time = <14400>;
				battery,hv_charging_total_time = <10800>;
				battery,normal_charging_total_time = <18000>;
				battery,usb_charging_total_time = <36000>;
				battery,recharging_total_time = <5400>;
				battery,charging_reset_time = <0>;

				battery,chg_float_voltage = <4220>;
                		battery,swelling_low_rechg_thr = <200>;

				battery,swelling_high_temp_block = <410>;
				battery,swelling_high_temp_recov = <390>;
				battery,swelling_wc_high_temp_recov = <390>;
				battery,swelling_low_temp_block_1st = <150>;
				battery,swelling_low_temp_recov_1st = <200>;
				battery,swelling_low_temp_block_2nd = <50>;
				battery,swelling_low_temp_recov_2nd = <100>;

				battery,swelling_low_temp_current = <750>;	/* 0.3C */
				battery,swelling_low_temp_topoff = <210>;	/* 0.05C */
				battery,swelling_high_temp_current = <1125>;	/* 0.45C */
				battery,swelling_high_temp_topoff = <210>;	/* 0.05C */
				battery,swelling_wc_high_temp_current = <750>;	/* 0.3C */
				battery,swelling_wc_low_temp_current = <750>;	/* 0.3C */

				battery,swelling_drop_float_voltage = <4050>;
				battery,swelling_high_rechg_voltage = <3850>;
				battery,swelling_low_rechg_voltage = <3850>;

				battery,siop_event_check_type = <1>;
				battery,siop_call_cv_current = <330>;
				battery,siop_call_cc_current = <330>;

				battery,siop_input_limit_current = <1200>;
				battery,siop_charging_limit_current = <1000>;

				battery,pd_charging_charge_power = <7750>;
				battery,max_charging_current = <1800>;
				battery,slow_charging_current = <500>;
				battery,battery_full_capacity = <4200>;

				/* cycle, chg_float_voltage, recharge_condition_vcell, full_condition_vcell, full_condition_soc */
				battery,age_data = <0 4220 4120 4090 93	/*4.22*/
						500 4190 4090 4060 92	/*4.19*/
						1000 4160 4060 4030 91	/*4.16*/
						>;
				battery,max_input_voltage = <5000>; /* mV */
				battery,max_input_current = <1500>;  /* mA */

				battery,standard_curr = <1800>;
				battery,expired_time = <16200>; /* 190 + 80 minutes */
				battery,recharging_expired_time = <5400>;

				battery,cisd_max_voltage_thr = <5000>; /* battery ovp detection voltage */

				battery,cisd_alg_index = <7>;

				battery,enable_water_resistance;

				battery,recovery_cable;

				io-channels = <&exynos_adc 1>, <&exynos_adc 2>;
				io-channel-names = "adc-temp", "adc-in-bat";
				#io-channel-cells = <5>;
				io-channel-ranges;
			};

/* sec_battery_cable
 *   0	UNKNOWN,
 *   1	NONE,
 *   2	PREPARE_TA,
 *   3	TA,
 *   4	USB,
 *   5	USB_CDP,
 *   6	9V_TA,
 *   7	9V_ERR,
 *   8	9V_UNKNOWN,
 *   9	12V_TA,
 *  10	WIRELESS,
 *  11	HV_WIRELESS,
 *  12	PMA_WIRELESS,
 *  13	WIRELESS_PACK,
 *  14	WIRELESS_PACK_TA,
 *  15	WIRELESS_STAND,
 *  16	WIRELESS_HV_STAND,
 *  17	QC20,
 *  18	QC30,
 *  19	PDIC,
 *  20	UARTOFF,
 *  21	OTG,
 *  22	LAN_HUB,
 *  23	POWER_SHARING,
 *  24	HMT_CONNECTED,
 *  25	HMT_CHARGE,
 *  26	HV_TA_CHG_LIMIT,
 *  27	WIRELESS_VEHICLE,
 *  28	WIRELESS_HV_VEHICLE,
 *  29	PREPARE_WIRELESS_HV,
 *  30	TIMEOUT,
 *  31	SMART_OTG,
 *  32	SMART_NOTG,
 *  33	FACTORY_UART,
 *  34	CABLE_MAX,
 */
			cable-info {
				default_input_current = <1500>;
				default_charging_current = <1800>;
				full_check_current_1st = <420>;
				full_check_current_2nd = <210>;

				current_group_1 {
					cable_number = <1 4 19 21 22 23 30>;
					input_current = <500>;
					charging_current = <500>;
				};

				current_group_2 {
					cable_number = <2 25 31>;
					input_current = <1000>;
					charging_current = <1000>;
				};

				current_group_3 {
					cable_number = <5 32>;
					input_current = <1500>;
					charging_current = <1500>;
				};

				current_group_4 {
					cable_number = <6 7 8>;
					input_current = <1650>;
					charging_current = <2150>;
				};

				current_group_5 {
					cable_number = <9>;
					input_current = <1650>;
					charging_current = <2150>;
				};

				current_group_6 {
					cable_number = <10 12 14 15 27>;
					input_current = <900>;
					charging_current = <1200>;
				};

				current_group_7 {
					cable_number = <13>;
					input_current = <700>;
					charging_current = <1200>;
				};

				current_group_8 {
					cable_number = <24>;
					input_current = <1000>;
					charging_current = <450>;
				};

				current_group_9 {
					cable_number = <26>;
					input_current = <2000>;
					charging_current = <1800>;
				};

				current_group_10 {
					cable_number = <11 16 28>;
					input_current = <650>;
					charging_current = <1200>;
				};

				current_group_11 {
					cable_number = <29>;
					input_current = <500>;
					charging_current = <1200>;
				};
			};

			s2mu004-charger {
				status = "disable";
				compatible = "samsung,s2mu004-charger";
			};
		};
	};
};

&pinctrl_0 {
	fuel_irq: fuel-irq {
		samsung,pins = "gpa2-4";
		samsung,pin-function = <0>;
		samsung,pin-pud = <2>;
		samsung,pin-drv = <0>;
	};

	if_pmic_irq: if-pmic-irq {
		samsung,pins = "gpa2-2";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	usbpd_irq: usbpd-irq {
		samsung,pins = "gpa2-3";
		samsung,pin-function = <0x0f>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

&i2c_0 {
	i2c-gpio,delay-us = <5>;
	status = "okay";
	s2mu004-fuelgauge@3B {
		compatible = "samsung,s2mu004-fuelgauge";
		reg = <0x3B>;
		pinctrl-names = "default";
		pinctrl-0 = <&fuel_irq>;
		fuelgauge,fuel_int = <&gpa2 4 0>;
		fuelgauge,fuel_alert_soc = <1>;
		fuelgauge,fuel_alert_vol = <3300>;
		fuelgauge,low_temp_limit = <100>;
		fuelgauge,sw_vbat_l_recovery_vol = <3465>;
		fuelgauge,capacity_max = <970>;
		fuelgauge,capacity_max_margin = <200>;
		fuelgauge,capacity_min = <0>;
		fuelgauge,capacity_calculation_type = <28>;
		fuelgauge,capacity_full = <4200>;
		fuelgauge,type_str = "SDI";
		fuelgauge,model_type = <1>;
		fuelgauge,fg_log_enable = <1>;
	};

	usbpd-s2mu004@3C {
		compatible = "sec-usbpd,i2c";
		reg = <0x3C>;
		pinctrl-names = "default";
		pinctrl-0     = <&usbpd_irq>;
		usbpd,usbpd_int = <&gpa2 3 0>;
	};
};
