/*
 * SAMSUNG EXYNOS7884B board device tree source

 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/plugin/;

#include "exynos7884B-a10eve_common.dtsi"
#include "exynos7884B-a10e_jpn_dcm_gpio_01.dtsi"

/ {
	compatible = "samsung,A10E JPN DCM 01", "samsung,EXYNOS7884B";

	dtbo-hw_rev = <1>;
    dtbo-hw_rev_end = <255>;


	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "Samsung A10E JPN DCM 01 board based on EXYNOS7884B";

			fm@14840000 {
				without_elna = <1>;
				num-trfon-freq = <56>;
				val-trfon-freq = <87500 87600 88300 88400 89000 89100 89800 89900
					90600 90700 91300 91400 92100 92200 92900 93000 93600 93700
					94400 94500 95200 95300 96700 96800 97500 97600 98300 98400 99000 99800 99900 99100
					100000 100600 100700 101300 101400 101500 101600 102100 102200 102900 103000 103600
					103700 104000 104400 104500 105200 105300 105900 106000 106700 106800 107500 107600 >;
				spur-trfon-freq = <1536>;
			};

			sec_thermistor@6 {
				compatible = "samsung,sec-cf-thermistor";
				status = "okay";

				adc_array = <275 324 380 450 528 619 729 856 1003 1161
					1345 1545 1766 1980 2222 2457 2685 2901 3102 3279
					3426 3551 3659>;
				temp_array = <900 850 800 750 700 650 600 550 500 450
					400 350 300 250 200 150 100 50 0 (-50)
					(-100) (-150) (-200)>;

				io-channels = <&exynos_adc 6>;
				io-channel-names = "adc-cf-temp";
				io-channel-ranges;
			};

			i2c@20 {
				compatible = "i2c-gpio";
				gpios = <&gpp7 0 0
						&gpp7 1 0>;
				i2c-gpio,delay-us = <2>;
				pinctrl-names = "default";
				pinctrl-0 = <&grip_i2c>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";

				sx9360-i2c@28 {
					compatible = "sx9360";
					pinctrl-names = "default";
					pinctrl-0 = <&grip_int &grip_en>;
					reg = <0x28>;
					interrupt-parent = <&gpa0>;
					interrupts = <6 0 0>;
					sx9360,nirq-gpio = <&gpa0 6 0>;

					sx9360,reggnrlctrl2 = <0x28>;		/* scanperiod: 81ms */
					sx9360,regafeparam1phm = <0x63>;	/* again : 9 pF, sampling freq : 142.86 khz */
					sx9360,regproxctrl0phm = <0x21>;	/* gain: x4, rawfilt : 1-1/2 */
					sx9360,regproxctrl5 = <0x5F>;		/* threshold: 4512 */
					sx9360,regproxctrl4 = <0x15>;		/* hysteresis: small, closedeb: 2 samples, fardeb: 2 samples */
					sx9360,regproxctrl3 = <0x0D>;		/* AVGPOSFILT: 1/512, AVGNEGFILT: 1/2 */
					sx9360,regafeparam0phm = <0x0E>;	/* resolution: 512 */
					sx9360,hallic_detect = <1>;
				};
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&i2c_4 {
	touchscreen@48 {
		status = "okay";
	};
};

&pinctrl_0 { //11CB0000
	nfc_clk: nfc-clk {
		samsung,pins = "gpq0-0";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
	};

	nfc_int: nfc-int {
		samsung,pins = "gpa1-0";
		samsung,pin-function = <0>;
		samsung,pin-pud = <1>;
	};
};

&pinctrl_3 { //139B0000
	nfc_pvdd_en: nfc_pvdd_en {
		samsung,pins = "gpp6-4";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-val = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
	};

	nfc_firm: nfc_firm {
		samsung,pins = "gpp3-2";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-val = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
	};

	nfc_pd: nfc_pd {
		samsung,pins = "gpp2-2";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
	};

	nfc_clk_req: nfc_clk_req {
		samsung,pins = "gpp2-3";
		samsung,pin-function = <2>;
		samsung,pin-pud = <1>;
		samsung,pin-drv = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
	};
};

&hsi2c_5 {
	status = "okay";
	clock-frequency = <400000>;  /*   400 kHz  */
	sec-nfc@27{
		compatible = "sec-nfc";
		reg = <0x27>;

		interrupt-parent = <&gpa1>;
		interrupts = <0 0 0>;

		sec-nfc,nfc_pd = <&gpp2 2 0x2>;
		sec-nfc,firm-gpio = <&gpp3 2 1>;
		sec-nfc,irq-gpio = <&gpa1 0 0>;
		sec-nfc,pvdd_en = <&gpp6 4 1>;
		clkctrl-reg = <0x11C8600C>;

		pinctrl-names = "default";
		pinctrl-0 = <&nfc_pd &nfc_firm &nfc_int &nfc_pvdd_en>;
	};
};

&i2c_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	samsung,i2c-max-bus-freq = <400000>;
	s2mu106@3D {
		status = "okay";
		compatible = "samsung,s2mu106mfd";
		reg = <0x3D>;
		pinctrl-names = "default";
		pinctrl-0 = <&if_pmic_irq>;
		s2mu106,irq-gpio = <&gpa2 2 1>;
		s2mu106,wakeup;
	};
};

/* FSYS */
&pinctrl_2 {//13430000
	sd0_cmd: sd0-cmd {
		samsung,pins = "gpf0-1";
		samsung,pin-function = <2>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <2>;
	};

	sd0_bus1: sd0-bus-width1 {
		samsung,pins = "gpf2-0";
		samsung,pin-function = <2>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <2>;
	};

	sd0_bus4: sd0-bus-width4 {
		samsung,pins = "gpf2-1", "gpf2-2", "gpf2-3";
		samsung,pin-function = <2>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <2>;
	};

	sd0_bus8: sd0-bus-width8 {
		samsung,pins = "gpf2-4", "gpf2-5", "gpf2-6", "gpf2-7";
		samsung,pin-function = <2>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <2>;
	};
};

&i2c_6 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-max-bus-freq = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_bus>;

	lsm6dsl@6b { 
		compatible = "st,lsm6dsl"; 
		reg = <0x6b>; 
		gpio-controller; 
		#gpio-cells = <2>;
		pinctrl-names = "default"; 
		pinctrl-0 = <&acc_int>; 
		interrupt-parent = <&gpa0>; 
		interrupts = <3 0 0>; 
		st,irq_gpio = <&gpa0 3 0>; 
		st,orientation = <1 0 1 2 1 1 1 1 2>;
		};
};
