/*
 * SAMSUNG UNIVERSAL7885 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {

	pinctrl@139B0000 {
		i2c5_bus: i2c5-bus {
			samsung,pins = "gpp4-3", "gpp4-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		i2c6_bus: i2c6-bus {
			samsung,pins = "gpp4-5", "gpp4-4";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

	};

	i2c_5:i2c@13880000 {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c5_bus>;

		stk@47 {
			compatible = "stk,stk3x3x";
			reg = <0x47>;
			interrupt-parent = <&gpa0>;
			interrupts = <4 0 0>;
			stk,gpio_int = <&gpa0 4 0>;
			stk,prox_thd_h = <150>;
			stk,prox_thd_l = <140>;
			stk,sunlight_thd_h = <150>;
			stk,sunlight_thd_l = <140>;
			stk,first_cal_adc_limit = <120>;
			stk,first_cal_thd_h = <150>;
			stk,first_cal_thd_l = <140>;
		};
	};

	i2c_6: i2c@13890000 {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c6_bus>;

		lsm6dsl@6b {
			compatible = "st,lsm6dsl";
			reg = <0x6b>;
			interrupt-parent = <&gpa0>;
			interrupts = <3 0 0>;
			st,irq_gpio = <&gpa0 3 0>;
			st,orientation = <1 0 1 2 1 1 1 1 2>;
		};

		yas539@2e {
			compatible = "yas_magnetometer";
			reg = <0x2e>;
			yas,orientation = <6>;
			yas,softiron = <9593 45 221 175 10436 57 378 26 10803>;
			yas,softiron_sign = <2 2 0 2 2 0 2 2 2>;
		};
	};
};
