/*
 * SAMSUNG UNIVERSAL7885 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos7885-jackpotlte_jpn_common.dtsi"
#include "exynos7885-jackpotlte_fingerprint-sensor_00.dtsi"
#include "exynos7885-jackpotlte_jpn_dcm_gpio_00.dtsi"
#include "exynos7885-jackpotlte_svcled.dtsi"
#include "exynos7885-jackpotlte_jpn-isdbt-00.dtsi"


/ {
	model = "Samsung JACKPOTLTE JPN DCM rev00 board based on EXYNOS7885";
	model_info-chip = <7885>;
	model_info-platform = "android";
	model_info-subtype = "samsung";
	model_info-hw_rev = <0>;
	model_info-hw_rev_end = <2>;
	compatible = "samsung, JACKPOTLTE JPN DCM rev00", "samsung,Universal7885";

	/* SENSORHUB */
	spi_4: spi@13980000 {
		#address-cells = <1>;
		#size-cells = <0>;

	        pinctrl-names = "default";
	        pinctrl-0 = <&spi4_miso &spi4_mosi &spi4_cs &spi4_clk>;
	        interrupts = <0 277 0>;

	        num-cs = <1>;
        	status = "okay";

		STM32F@0 {
			compatible = "ssp,STM32F";
			reg = <0>;
			spi-max-frequency = <8000000>;
			spi-cpol;
			spi-cpha;
			pinctrl-names = "default";
			pinctrl-0 = <&ssp_rst &ssp_ap_int &ssp_mcu_int1 &ssp_mcu_int2 &ssp_boot0>;

			gpio-controller;
			#gpio-cells = <2>;
			ssp,mcu_int1-gpio = <&gpa1 2 0x00>;
			ssp,mcu_int2-gpio = <&gpa1 3 0x00>;
			ssp,ap_int-gpio = <&gpg1 6 0x01>;
			ssp,rst-gpio = <&gpg3 5 0x01>;
			ssp,boot0-gpio = <&gpg1 3 0x1>;
			ssp,acc-position = <7>;
			ssp,mag-position = <5>;
			ssp-sns-combination = <0>;
			ssp,prox-hi_thresh = <55>;
			ssp,prox-low_thresh = <40>;
			ssp,prox-detect_hi_thresh = <250>;
			ssp,prox-detect_low_thresh = <130>;
			ssp-ap-rev = <1>;
			ssp-mag-array = /bits/ 8 <0 0 0 0 0 0 0 0 0
                                    0 0 0 0 0 0 0 0 0
                                    0 0 0 0 0 0 0 0 0>;
			ssp-mag-type = <1>;
			ssp-glass-type = <0>;
			ssp-acc-type = <1>;
			ssp-pressure-type = <1>;
			ssp-project-type = <1>;


            controller-data {
                cs-gpio = <&gpp8 0 0>;
                samsung,spi-feedback-delay = <0>;
			};
	        };
	};
	
	/* USIM DETECTION FOR CP */
	usim_det {
		pinctrl-names = "default";
		pinctrl-0 = <&sim0_det_gpio>;
		mif,num_of_usim_det = <1>;
		mif,usim-det0-gpio = <&gpa2 6 0>;
	};

	/* motor control type :  1 = IFPMIC */
	/*				2 = Mot driving IC */
	motor {
		motor,motor_type = <1>;
	};

	pinctrl@139B0000 {
		motor_pwm: motor_pwm {
			samsung,pins = "gpg0-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};
	};

	i2c@13830000 {
		s2mu004-haptic@3A {
			compatible = "sec,s2mu004-haptic";
			reg = <0x3A>;
			pinctrl-names = "default";
			pinctrl-0 = <&motor_pwm>;
			
		};
	};

	/delete-node/ fm@14840000;
};

